@tailwind base;
@tailwind components;
@tailwind utilities;

.btn12 {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  background: #ff0909;
}
.btn12.added {
  background: #ffffff;
  border: 2.5px solid red;
  color: #ff0000;
}
